@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 21s linear infinite;
}

.paused .animate-marquee {
  animation-play-state: paused;
}